In [ ]:
# Crie um array NumPy com 1000000 e uma lista com 1000000.
# Multiplique cada elemento do array e da lista por 2 e calcule o tempo de execução com cada um dos objetos (use %time).
# Qual objeto oferece melhor performance, array NumPy ou lista?
import numpy as np

In [ ]:
arrayNumpy=np.arange(1000000)

In [ ]:
lista=list(range(1000000))
lista

In [ ]:
%time arrayNumpy=arrayNumpy*2
arrayNumpy

In [ ]:
%time lista = [x * 2 for x in lista]
lista

### Os tempos de execução do pacote NumPy é melhor.

In [ ]:
# Exercício 2
# Crie um array de 10 elementos
# Altere o valores de todos os elementos dos índices 5 a 8 para 0

In [ ]:
tenElements=np.arange(10)

In [ ]:
tenElements[5:8]=0
tenElements

In [ ]:
# Crie um array de 3 dimensões e imprima a dimensão 1

In [ ]:
threeDimensions=np.ones((2,3,4))
print(threeDimensions)

In [ ]:
threeDimensions[:,:,0]

In [ ]:
# Crie um array de duas dimensões (matriz).
# Imprima os elementos da terceira linha da matriz
# Imprima todos os elementos da primeira e segunda linhas e segunda e terceira colunas

In [ ]:
matriz=np.zeros((3,3))
np.matrix(matriz)

In [ ]:
matriz[2,:]

In [ ]:
matriz[0:2,:]

In [ ]:
matriz[:,1:3]

In [ ]:
# Calcule a transposta da matriz abaixo
arr = np.arange(15).reshape((3, 5))
arr

In [ ]:
np.transpose(arr)

In [ ]:
arr.T

In [ ]:
# Considere os 3 arrays abaixo
# Retorne o valor do array xarr se o valor for True no array cond. Caso contrário, retorne o valor do array yarr.
xarr = np.array([1.1, 1.2, 1.3, 1.4, 1.5])
yarr = np.array([2.1, 2.2, 2.3, 2.4, 2.5])
cond = np.array([True, False, True, True, False])

In [ ]:
resultado = [(x if c else y) for x, y, c in zip(xarr, yarr, cond)]
resultado

In [ ]:
# Crie um array A com 10 elementos e salve o array em disco com a extensão npy
# Depois carregue o array do disco no array B

In [ ]:
import pandas as pd
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c', 'a', 'b'])

In [ ]:
obj=np.unique(obj)
obj

In [ ]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [42]:
data = resp.json()
issues = pd.DataFrame(data, columns=['number', 'title', 'labels', 'state'])
issues

,number,title,labels,state
0,42975,Backport PR #42838 on branch 1.3.x (REGR: Seri...,"[{'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgx...",open
1,42973,DIS: Should the keyword use_nullable_dtypes us...,"[{'id': 2301354, 'node_id': 'MDU6TGFiZWwyMzAxM...",open
2,42972,ENH: add kwarg `max_rows` `max_cols` to `Style...,[],open
3,42971,BUG: Different initialization methods lead to ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
4,42970,pandas.DataFrame.filter does not work with reg...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
5,42968,Update Parquet pandas metadata description on ...,"[{'id': 685114413, 'node_id': 'MDU6TGFiZWw2ODU...",open
6,42966,BUG:Tuple Series name causes InvalidIndexError...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
7,42965,How to add coroutines in apply lambda function,"[{'id': 34444536, 'node_id': 'MDU6TGFiZWwzNDQ0...",open
8,42964,ENH: conditional merge - initial concept,[],open
9,42961,CI: Dateutil broke CI,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
10,42960,BUG: erroneous initialization of a DataFrame w...,[],open
11,42957,BUG: pd.to_datetime with format doesn't work w...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
12,42956,BENCH: Fix misleading Interpolate asv,"[{'id': 732775912, 'node_id': 'MDU6TGFiZWw3MzI...",open
13,42951,Use new GitHub issue forms?,"[{'id': 219960758, 'node_id': 'MDU6TGFiZWwyMTk...",open
14,42950,PERF: improve perf of Series fastpath constructor,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
15,42947,ENH: A new GroupBy iloc method to slice rows p...,[],open
16,42946,Python 3.10 manylinux wheels,"[{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNT...",open
17,42944,BUG: read_csv with mixed bools and NaNs someti...,"[{'id': 31404521, 'node_id': 'MDU6TGFiZWwzMTQw...",open
18,42943,ENH: add new method `DataFrame.repeat`,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
19,42940,TST: GH34037 add test for type error when usin...,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
20,42939,TST: add test for getting array from series,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
21,42937,CLN: clean warning assertions in sql tests,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
22,42935,Update frame.py,[],open
23,42934,BUG: should constructing Index from a Series m...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
24,42933,CLN: replace styler code for refactor `level` ...,"[{'id': 127681, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
25,42931,BUG: Attributes skipped when serialising plain...,"[{'id': 49379259, 'node_id': 'MDU6TGFiZWw0OTM3...",open
26,42927,ENH: Sliding window by value interval on non-t...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
27,42926,TYP: overriding of final methods,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,42925,PERF: Sparse Series to scipy COO sparse matrix,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
29,42924,STYLE: pre-commit check on get/set_option usage,"[{'id': 106935113, 'node_id': 'MDU6TGFiZWwxMDY...",open

In [43]:
import sqlite3
import pandas as pd
query = """
CREATE TABLE TESTE
(Cidade VARCHAR(20), 
 Estado VARCHAR(20),
 taxa REAL,        
 Impostos INTEGER
);"""
con = sqlite3.connect('dsa.db')
con.execute(query)
con.commit()

In [44]:
data = [('Natal', 'Rio Grande do Norte', 1.25, 6),
        ('Recife', 'Pernambuco', 2.6, 3),
        ('Londrina', 'Paraná', 1.7, 5)]
stmt = "INSERT INTO TESTE VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [45]:
cursor = con.execute('select * from teste')
rows = cursor.fetchall()
rows

[('Natal', 'Rio Grande do Norte', 1.25, 6),
 ('Recife', 'Pernambuco', 2.6, 3),
 ('Londrina', 'Paraná', 1.7, 5)]

In [46]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

     Cidade               Estado  taxa  Impostos
0     Natal  Rio Grande do Norte  1.25         6
1    Recife           Pernambuco  2.60         3
2  Londrina               Paraná  1.70         5