In [3]:
import pandas as pd
from pandas import Series
pd.__version__

'1.3.1'

In [4]:
Obj = Series([67, 78, -31, 72])
Obj

0    67
1    78
2   -31
3    72
dtype: int64

In [5]:
Obj.values

array([ 67,  78, -31,  72], dtype=int64)

In [6]:
Obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
Obj2 = Series([67,78,-11,-21], index = ['a','b','c','d'])

In [8]:
Obj2

a    67
b    78
c   -11
d   -21
dtype: int64

In [9]:
Obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
Obj2[Obj2 > 3][Obj2 < 77]

a    67
dtype: int64

In [12]:
Obj2['b']

78

In [13]:
'd' in Obj2

True

In [14]:
dict = {'Labuta':1000, 'Juvenil':220, 'Vaaai:':130, 'Vasco':-2}

In [16]:
Obj3=Series(dict)
Obj3

Labuta     1000
Juvenil     220
Vaaai:      130
Vasco        -2
dtype: int64

In [19]:
tasks = ['Labuta','Juvenil','Vasco','Campeao']
Obj4 = Series(dict, index=tasks)
Obj4

Labuta     1000.0
Juvenil     220.0
Vasco        -2.0
Campeao       NaN
dtype: float64

In [20]:
pd.isnull(Obj4)

Labuta     False
Juvenil    False
Vasco      False
Campeao     True
dtype: bool

In [21]:
pd.notnull(Obj4)

Labuta      True
Juvenil     True
Vasco       True
Campeao    False
dtype: bool

In [22]:
Obj4.isnull()

Labuta     False
Juvenil    False
Vasco      False
Campeao     True
dtype: bool

In [23]:
Obj3+Obj4

Campeao       NaN
Juvenil     440.0
Labuta     2000.0
Vaaai:        NaN
Vasco        -4.0
dtype: float64

In [27]:
Obj4.name='Sonho'
Obj4.index.name='Gigante da Colina'
Obj4

Gigante da Colina
Labuta     1000.0
Juvenil     220.0
Vasco        -2.0
Campeao       NaN
Name: Sonho, dtype: float64