In [1]:
import os
os.remove("dsa.db") if os.path.exists("dsa.db") else None

In [2]:
import sqlite3
import random
import time
import datetime

conn = sqlite3.connect('dsa.db')   
c = conn.cursor()

def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')

def data_insert():
    c.execute("INSERT INTO produtos VALUES(10, '2020-05-02 14:32:11', 'Teclado', 90 )")
    conn.commit()

def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'Monitor'
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)", (new_date, new_prod_name, new_valor))
    conn.commit()

In [3]:
create_table()

In [4]:
data_insert()

In [5]:
for i in range(10):
    data_insert_var()
    time.sleep(1)

In [6]:
c.close()
conn.close()