In [1]:
import sqlite3
os.remove("escola.db") if os.path.exists("escola.db") else None
con = sqlite3.connect('escola.db')
type(con)

sqlite3.Connection

In [2]:
cur = con.cursor()
type(cur)

sqlite3.Cursor

In [3]:
#DDL - Data Definition Language
sql_create = 'create table cursos '\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(140))'

In [4]:
cur.execute(sql_create)

In [5]:
sql_insert = 'insert into cursos values (?, ?, ?)'
recset = [(1000, 'Ciência de Dados', 'Data Science'),
          (1001, 'Big Data Fundamentos', 'Big Data'),
          (1002, 'Python Fundamentos', 'Análise de Dados')]

In [7]:
for rec in recset:
    cur.execute(sql_insert, rec)

In [8]:
con.commit()

In [9]:
sql_select = 'select * from cursos'
cur.execute(sql_select)
dados = cur.fetchall()

In [10]:
cur.execute(sql_select)
dados = cur.fetchall()

In [11]:
for linha in dados:
    print ('Curso Id: %d, Título: %s, Categoria: %s \n' % linha)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

In [12]:
recset = [(1003, 'Gestão de Dados com MongoDB', 'Big Data'),
          (1004, 'R Fundamentos', 'Análise de Dados')]

# Inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)
    
# Gravando a transação
con.commit()

In [13]:
cur.execute('select * from cursos')

# Recupera os resultados
recset = cur.fetchall()

# Mostra
for rec in recset:
    print ('Curso Id: %d, Título: %s, Categoria: %s \n' % rec)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

In [14]:
con.close()